backports.functools-lru-cache==1.6.4
backports.weakref==1.0.post1
bleach==4.1.0
certifi==2021.10.8
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
enum34==1.1.6
funcsigs==1.0.2
html5lib==0.9999999
idna==2.6
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.3.0
Keras==2.0.8
Markdown==2.6.9
matplotlib==3.5.1
mock==2.0.0
nbformat==4.4.0
numpy==1.22.2
pandas==1.4.1
pbr==5.8.1
plotly==5.6.0
protobuf==3.19.4
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==3.12
requests==2.18.4
scikit-learn==0.22.2.post1
scipy==1.8.0
six==1.11.0
subprocess32==3.5.4
tensorflow==2.8.0
tensorflow-tensorboard==1.5.1
traitlets==5.1.1
urllib3==1.26.8
Werkzeug==2.0.3
joblib~=1.1.0
Flask~=2.0.3